body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.App {
  text-align: center;
  display: flexbox;
  background-color: #113;
  padding: 20px;
  margin: 30px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 20px;
}

h1 {
  color: #aaf;
}

.seguridad {
  grid-area: seguridad;
  width: 200px;
}
.blanco {
  color: #fff;
  font-size: 12px;
}
.rojo {
  color: #f00;
  font-size: 12px;
}
.amarillo {
  color: #ff0;
  font-size: 12px;
}
.verde {
  color: #0f0;
  font-size: 12px;
}

.copConEx {
  grid-area: copConEx;
  color: #0f0;
  width: 200px;
}

.item3 {
  grid-area: espacioLibre;
  width: 150px;
}

.textos {
  display: grid;
  grid-template-areas: 'seguridad copConEx espacioLibre';
  margin: 10px;
  margin-left: 250px;
  width: 550px;
}

.PanelAvanzado {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #115;
  border-radius: 10px;
  padding: 10px;
}

.longitud {
  margin-right: 10px;
  grid-area: longitud;
}
.contador {
  grid-area: contador;
}

.largo {
  width: 20px;
  text-align: center;
}


.minus1 {
  grid-area: minus1;
}
.minus2 {
  grid-area: minus2;
}
.mayus1 {
  grid-area: mayus1;
}
.mayus2 {
  grid-area: mayus2;
}
.nums1 {
  grid-area: nums1;
}
.nums2 {
  grid-area: nums2;
}
.esp1 {
  grid-area: esp1;
}
.esp2 {
  grid-area: esp2;
}

.checkboxs {
  display: grid;
  grid-template-areas: 
  'longitud contador'
  'minus1 minus2'
  'mayus1 mayus2'
  'nums1 nums2'
  'esp1 esp2';
}

button {
  background-color: #115;
  color: #fff;
}

.botonPanel, .generarPanel {
  background-color: #117;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

